<div>
    <h2>{{message}}</h2>

    <form>

        <input type="text" name="adressField" required ng-model="addressField" />

        <input type="submit" ng-click="GetAddress(addressField)" value="Search address field" />
    </form>
    <button ng-click="GetAddress('umeå, sweden')">Search Umeå</button>
    <hr />
    Location Lat: {{locationLat}} <br />
    Location Long: {{locationLong}}


    <hr />

    <style type="text/css">
    </style>

    <div ng-repeat="p in places"><a href="" ng-click="showPlace(p)">{{p.Name}}</a></div>

    <div><a href="" ng-click="showAllPlaces()">Show all places</a></div>
    <div><a href="" ng-click="drawPolyline()">Draw line</a></div>

    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models="markers" coords="'coords'" idKey="markers.id">
        </ui-gmap-markers>
        <ui-gmap-polyline path="polyline.path"></ui-gmap-polyline>
    </ui-gmap-google-map>


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3MyH4BeH_E85SchJki29BKPGaPuWCHNs">
    </script>
</div>